.core {
  display: flex;
}

.ex-img {
  padding-top: 10px;
  padding-left: 15px;
  width: 70%;
}

.ex-img > img {
  object-fit: contain;
  max-width: 100%;
  width: 90%;
  margin-left: 20px;
}

.info {
  flex: 1 1 20%;
}

.title > h1 {
  width: 124%;
}
