.header2 {
  display: grid;
  grid-template-columns: 5% 95%;
  width: 100%;
  opacity: 0;
  position: fixed;
}

.header2-show {
  display: grid;
  grid-template-columns: 5% 95%;
  width: 100%;
  opacity: 1;
  position: fixed;
  transition: all 1s ease-out;
  z-index: 1;
  background-color: white;
  top: 0;
}

.logo-container2 {
  display: flex;
  flex: 1 1 12%;
  position: relative;
}

.logo2 {
  width: 108px;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 24px;
  left: 28px;
}

.h-ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
